* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Mono", sans-serif;
}

.App {
  min-height: 100vh;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
}